@import './Scss/Header';
@import './Scss/Login';
@import './Scss/Message';
@import './Scss/Chat';
@import './Scss/Loader';
@import './Scss/UserProfile';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}
