.tittle {
  text-align: center;
  padding-top: 10px;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
}
.container-chat {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-buttons {
  background-color: #fff;
  position: sticky;
  bottom: 0;
  z-index: 10000;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5% !important;
  width: 90%;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 460px) {
    width: 100%;
  }
  .inputtext {
    width: 75%;
    height: 50px;
    padding-left: 10px;
    font-size: 18px;
  }
  .inputtext::placeholder {
    font-size: 18px;
  }
  button {
    cursor: pointer;
    padding: 11px;
    font-size: 20px;
    border-radius: 5%;
    border: 1px solid lightgreen;
  }
}
